@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(108, 181, 177);
}

#title {
    background-color: rgb(208, 181, 146);
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 100px;
    box-shadow: 0px 1px 10px black;
}
#hidden {
    display: none;
}
#game {
    width: 800px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: beige;
    border-radius: 8px;
    border: 20px solid rgb(126, 126, 126);
    margin-bottom: 20px;
}
.cell {
    text-align: center;
    font-size: 1220%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.15%;
    height: 33.2%;
    border: 1px solid black;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 201);
}

#playerNames {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#playerNames > div > input { 
    border-radius: 5px;
    border: 1px solid gray;
    height: 1.5em;
    width: 250px;
    text-align: center;
}

button {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    font-size: 28px;
    background-color: burlywood;
    border: 1px solid rgb(164, 164, 164);
    box-shadow: 0px 1px 10px black;
    width: fit-content;
    align-self: center;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px black;
}

button:active {
    transform: scale(1);
    box-shadow: 0px 1px 10px black;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(208, 181, 146);
}
.cell:first-child, .cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), .cell:nth-child(6), 
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), 
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:first-child, .cell:nth-child(4), 
.cell:nth-child(7) {
    border-left: none;
}