@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-width: 400px;
    background-color: rgb(108, 181, 177);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#title {
    background-color: rgb(208, 181, 146);
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 1px 10px black;
}

#game {
    cursor: pointer;
    max-width: 800px;
    width: 310px;
    max-height: 60%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(247, 247, 208);
    border-radius: 8px;
    border: 20px solid rgb(126, 126, 126);
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 50px;
}
#game:hover {
    background-color: beige;
}

.cell {
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33.15%;
    width: 102px;
    max-height: 33.2%;
    height: 102px;
    border: 1px solid black;
    position: relative;
    background-color: beige;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(163, 163, 146);
}

#playerNames {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#playerNames > input { 
    height: 1.5em;
    width: 140px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid transparent;
}

#reset {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    font-size: 28px;
    background-color: burlywood;
    border: 1px solid rgb(164, 164, 164);
    box-shadow: 0px 1px 10px black;
    width: fit-content;
    align-self: center;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px black;
}

button:active {
    transform: scale(1);
    box-shadow: 0px 1px 10px black;
}

.footer {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(208, 181, 146);
}
.cell:first-child, .cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), .cell:nth-child(6), 
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), 
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:first-child, .cell:nth-child(4), 
.cell:nth-child(7) {
    border-left: none;
}

input:focus {
    outline: none;
    background-color: rgb(241, 255, 196);
}
a {
    color: black;
    text-decoration: none;
}